@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/crud.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">


                <div asp-validation-summary="All" class="text-danger"></div>

                <h2>Iniciar Sesion</h2>


                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>


                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>


                <div class="btns">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    @*<label asp-for="Input.RememberMe">
                       Recordarme
                        <input asp-for="Input.RememberMe" />
                    </label>*@
                    <p><a id="forgot-password" @*asp-page="./ForgotPassword"*@>¿Olvidaste tu contraseña?</a></p>
                    <p>¿Ya tienes cuenta?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a></p>

                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
