<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Esmeraldaplus.Web</title>
    @RenderSection("crud", required: false)
</head>
<body>
   


            @RenderBody()



    @RenderSection("Scripts", required: false)
</body>
</html>
